<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="#" style="color:white">Survey Portal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/localhost:4200" style="color:white"> <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
        
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:white">| About <span class="sr-only">(current)</span></a>
        
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:white">| <i class="fa fa-address-book" aria-hidden="true"></i> Contact Us <span class="sr-only">(current)</span></a>
        
      </li>
      
      
      
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>




<br>
<div id="btns">


<button class="btn btn-dark" routerLink="/view">View Surveys <i class="fa fa-search" aria-hidden="true"></i></button>
<button class="btn btn-dark" routerLink="/add">Add Survey <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
<button class="btn btn-dark"><i class="fa fa-gear fa-spin"></i> Insights <i class="fa fa-line-chart" aria-hidden="true"></i></button>
</div>

<router-outlet></router-outlet>